# {{ ansible_managed }}

[Unit]
Description=DelayedJob
After=syslog.target
After=postgresql.service

[Service]
Type=forking
User={{ deploy_user }}
WorkingDirectory={{ app_path }}
ExecStart=/bin/bash -lc "{{ bundle }} exec bin/delayed_job --pid-dir={{ pids_path }} --log-dir={{ logs_path }} start"
ExecStop=/bin/bash -lc "{{ bundle }} exec bin/delayed_job stop"
TimeoutSec=120
PIDFile={{ pids_path }}/delayed_job.pid
Restart=always
Environment=RAILS_ENV=production

[Install]
WantedBy=multi-user.target
