# {{ ansible_managed }}

[Unit]
Description=Puma HTTP Server
After=network.target
Requires=puma.socket

[Service]
Type=simple
User={{ deploy_user }}
WorkingDirectory={{ app_path }}
ExecStart=/bin/bash -lc "{{ bundle }} exec puma -C {{ puma_config_file }}"
Restart=always
TimeoutSec=30
Environment=PUMA_DEBUG=1
Environment=RAILS_ENV=production

[Install]
WantedBy=multi-user.target
