# {{ ansible_managed }}

[Unit]
Description=Puma HTTP Server Accept Sockets
PartOf=puma.service

[Socket]
ListenStream=0.0.0.0:3000
ListenStream={{ puma_socket }}

# Socket options matching Puma defaults
NoDelay=true
ReusePort=true
Backlog=1024

[Install]
WantedBy=sockets.target
